<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamin.thinkercodeart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.STO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.FileManagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
     <!--       android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert">-->
        </activity>

    <activity
        android:name=".activity.IdeaActivity"
        android:parentActivityName=".activity.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.kamin.thinkercodeart.activity.MainActivity" />
    </activity>
    <activity
        android:name=".util.AlertDialogActivity"
        android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>
    <activity
        android:name=".activity.StartActivity"
        android:windowSoftInputMode="adjustPan">

    </activity>
</application>

    </manifest>